*{
    margin:0;
    padding:0;
}
body{
    font-family: "Raleway", sans-serif;
}
/* navbar style*/
.navbar{

    box-shadow: 3px 3px 8px black ;
    background-color:rgb(8%, 11%, 16%) ;
}

.navbar-brand span{
    
    text-shadow: 2px 5px 5px black;
}

nav .collapse li{
    transition: 0.4s ;
    padding: 0 5px;
    
}
nav .collapse li:hover
{
background: rgba(239, 102, 3, 1);

}
/*navbar style*/
/*start Hero style*/
section#hero{
    background-image: url(../img/hero2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 10%;
    width: 100%;
    height:730px;
    
}
.layout{
    height: 100%;
    width:100%;
    background: rgba(20, 21, 28, 0.75);
}
.carousel1{
    position: absolute;
    top: 0%;
    height:110%;
    width:100%
}
.carousel-item{
    height:600px;
    
}
.carousel-caption h1{
    font-weight: 700;
    font-size: 250%;
}
.carousel-caption p{
    width: 90%;
    margin: 0 auto 30px auto;
    line-height: 30px;
    font-weight: 400;
}
@media (min-width: 1024px) {
  #hero p {
    width: 70%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
}

@media (max-width:768px) {
  #hero h1 {
    font-size: 30px;
  }
 
}
.btn-min{
    color: #fff;
    border: 2px solid rgba(239, 102, 3, 1);
    transition: .4s;
    border-radius: 30px;
    padding: 5px 20px;
    width:150px;
}
.btn-min:hover{
    background: rgba(239, 102, 3, 1);
    color: #fff;
}
/*End Hero style*/

/*Start About style*/
#about{
    color:rgb(94, 93, 93);
}
#about2{
    padding: 90px 30px;
}
#about2 button{
    border-radius:10px ;
    margin:10px 0px;
    color:rgba(239, 102, 3, 1) ;
    background: #FFF;
}
#about2 button:hover{
    color:#FFF ;
    background: rgba(239, 102, 3, 1);
}

.hr{
    height: 1px;
    width: 10%;
    background-color: rgba(239, 102, 3, 1);
    margin: 15px 10px;
}
.title1 h6{
    color:rgba(153, 152, 152, 0.918)
}
text-min{
    color:rgba(20, 21, 28, 1) ;
}
/*End About style*/
/*start feat*/
.features .nav-tabs{
    border:none;
}
.nav-tabs .nav-item .nav-link{
    color:rgba(20, 21, 28, 1);
    padding-left: 20px;
    border:1px solid #eee
}
.nav-tabs .nav-item .nav-link:hover{
    color:rgba(239, 102, 3, 1)
}
.nav-tabs .nav-item .nav-link.active{
background:rgba(239, 102, 3, 1);
color:#fff;
}
.features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }

  .tab-content i{
      
    color:rgba(239, 102, 3, 1)
  }
  .tab-pane ul li{
      list-style:none
  }

  .bar-ac{
      background:rgba(20, 21, 28, 1);
      padding:30px;
  }
  .bar-ac button{
      background:rgba(239, 102, 3, 1);
      border:none;
      margin:60px 0px 0px 40px
  }
  .bar-ac button:hover{
      background:#fff;
      color:rgba(239, 102, 3, 1);

  }
  /*start serv*/
#servis  .icon-box{
   padding: 10px 10px 0px 10px;
    position: relative;
    overflow: hidden;
    top:0;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 20px;
    transition: all .8s ease-in-out;
    
}
#servis  .icon-box a{
    color:rgba(20, 21, 28, 1);
    text-decoration: none;
}
#servis  .icon-box a:hover{
    color:rgba(239, 102, 3, 1);
    transition: .5s;
}
#servis  .icon-box p{
    font-size: 16px;
    
}
#servis  .icon-box:hover{
    top:-10px;
    box-shadow: 4px 4px 50px rgb(179, 177, 177);
}

#servis  .icon-box i{
    font-size: 50px;
    position: absolute;
    margin-top: 30px;
}
.ser-cont{
    padding-left: 60px;
}
  /*en serv*/
/*start pricing*/
.box{
    border: 1px solid   rgb(238, 238, 238);
    text-align: center;
    transition:all 0.7s;
    border-radius: 10px 10px 10px 10px;
    overflow:hidden;
    position:relative;
    margin-bottom: 20px;
   
}
.box:hover{
    border: 1px solid  rgba(239, 102, 3, 1);
}

.box:hover .adv{
    color: #FFF;
    border:1px solid #FFF;
    
}

.box h3 {
    background:  rgba(248, 248, 248, 1);
    border-radius: 10px 10px 0px 0px
}

.box:hover h3{
    background:  rgba(239, 102, 3, 1);
    color: #fff;
    border-radius: 10px 10px 0px 0px
}

.box span{
    color: rgb(160, 160, 160);
    font-size: 16px
}
.box h4{
    color: rgba(239, 102, 3, 1);
    font-weight: 600;
    font-size: 35px
        
}

.box h3{
    color: rgb(92, 91, 91);
    font-weight: 700;
    padding-bottom: 40px;
        font-size: 18px;
    padding: 40px;
    transition: 0.7s
    
}
.box ul{
    list-style: none;
    line-height: 35px;
    padding: 20px 0px;
    
}
.box ul li{
    font-size: 15px;
}

.box ul li s{
    color: rgb(92, 91, 91);
}
.btn-bay button{
    background: rgba(239, 102, 3, 1);
    padding: 5px;
    width: 130px;
    margin-bottom:  20px
}
.btn-bay button:hover{
    opacity: 0.8;
}

.adv{
    position:absolute;
    top:5%;
    left:60%;
    width:60%;
    transform: rotate(45deg);
    color: #FFF ;
    background:  rgba(239, 102, 3, 1); ;
    font-size: 14px;
    font-weight: 200;
    padding:8px 14px;
    transition:0.8s;
}

/*End pricing*/

/*start FAQ*/
.accordion-button:hover{
    background-color: rgba(20, 21, 28, 1);
    color:#ffffff;
}

.accordion-button:not(.collapsed){
    color:  rgba(239, 102, 3, 1);
}
.accordion-button:focus{
    box-shadow: 0px 0px 2px #f8b17e;
}
.accordion-button:after{
    width: 0
}
.accordion-body{
    background-color:  rgb(230, 230, 230);
    color:rgba(20, 21, 28, 1);
    font-size: 20px;
}
/*End FAQ*/

/*start teem*/
.box-teem{
    position: relative;
   box-shadow: 0px 2px 15px rgb(0, 0, 0,0.1);
    padding-bottom:20px;
    margin: 10px 0;

}
.box-teem img{
    width:100%;
}
.box-teem .content{
    margin:10px;
}
.box-teem h4{
    font-size: 18px;
    font-weight: 700;
}
.box-teem span{
    font-size: 14px;
    color:rgb(145, 145, 145);
}
.box-teem .img-tem .social{
position: absolute;
top:60%;
left:50%;
width: 100%;
transform: translate(-50%,-50%);
font-size: 20px;
text-align:center;
opacity: 0;
transition: ease-in-out 0.3s;
}

.social a{
    text-decoration: none;
   color:#FFF;
}

.social a i  {
    background-color: rgba(239, 102, 3, 1);
    color: #fff;
    border:1px solid rgba(255, 255, 255, 0);
    border-radius:50%;
    padding:6px;
    width: 30px;
    height: 30px;
    
    transition:0.8s;
}
.social a i:hover{
    opacity:0.8}
.box-teem .img-tem:hover .social{
opacity: 1;
top:65%;
}
/*end teem*/

/*start contact*/
.content-c  i{
    padding: 8px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.9s;
    font-size: 20px;
    line-height:22px;
    text-align:center;
    color: rgba(239, 102, 3, 1);
}
.content-c:hover i{
    background: rgba(239, 102, 3, 1);
    color: #fff;
  }

.content-c  div{
    margin: 0px 20px 30px 10px;
    line-height: 5px
}

.content-c div h3{
    font-weight: 500;
}
.content-c div span{
    color: rgb(119, 118, 118);
    font-size: 14px;
    
}
.bt{
    background: rgba(239, 102, 3, 1);
    padding: 5px;
    width: 160px;
    margin: 40px 0px
}
form input{
    margin: 20px 0px;
}
.bt:hover{
    opacity: 0.9
}

/*End contact*/
/*start footr*/
#Footr{
    background: rgba(20, 21, 28, 1);
    color: #fff;
    padding: 40px;
    position: relative;
}
#Footr .social{
    transform:translateY(-20px);
    
}
#Footr .social  a{
    padding:5px
}
#Footr .social  a:hover i,#Footr .social  a:hover{
opacity: 1;
padding:8px;
}

#Footr .social i{
    font-size: 25px;
    
}
#Footr h1{
    font-weight: 600;
}
#Footr p{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 40px
}
#Footr div{
    font-size: 14px;
}
#Footr a{
    text-decoration: none;
    color: rgba(239, 102, 3, 1);
    opacity: 0.8;
    transition: 0.5s
}
#Footr .link a:hover{
    opacity: 1
}
.back-to-top{
    width:20px;
    height:20px;
    border-radius:50%;
    position: relative;

}

.arrow{
    position: absolute;
    right: 30px;
    bottom: 20px;
   
    
}
/*End footr*/